<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
    <form action="/auth/login" method="post" style="align-content: center;margin-top: 100px;">
        <label for="username">账号：</label>
        <input type="text" name="username" id="username" value="">
        <br/>

        <label for="password">密码：</label>
        <input type="text" name="password" id="password" value="">
        <br/>

        <input type="submit" name="btn" value="登录">
    </form>

</body>
</html>